body {
  font-family: Arial, sans-serif;
  background-color: #eaf2f8;
  margin: 0;
  padding: 0;
}



.job-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #b1aeae;
  border-radius: 5px;
  background: #ffffff;
  width: 80%;
  display: flex;
  cursor: pointer; 
}

.job-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-title,
.job-company,
.job-description,
.job-exp-level {
  font-size: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.job-exp-level {
  font-size: 14px;
  color: #545454;
  margin-top: 10px;
}
.transparent-btn {
  background-color: transparent ;
  border: none;
  margin-right: 40px;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #555;
}




.empty-response {
  text-align: center;
}

.message {
  font-size: 24px;
  color: #888;
}

.job-card-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  padding: 20px;
  margin-bottom: 10px;
}

#modal-btn-cjobs{
  position: absolute;
  margin-top: 30px;
  margin-right: 30px;
  right: 0;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 0;
}