body {
    background-color: #eaf2f8;
}

.section {
    margin-bottom: 40px;
}

.row {
    margin-bottom: 0;
}

.input-field.col {
    margin-bottom: 20px;
}


.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.company-name {
    font-weight: bold;
    margin-right: 10px;
}

.employment-type {
    font-style: italic;
    margin-right: 10px;
}

.job-title {
    margin-right: 10px;
}

.date-range {
    margin-right: 10px;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e0e0e0;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #bdbdbd;
}

.material-icons {
    font-size: 16px;
    color: #616161;
}

.custom {
    margin-bottom: 30px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title {
    margin-right: 10px;
}

.remove-btn{
    cursor: pointer;
}
